@use "font-face";


$primary-clr: #112E3E;

$primary-font-clr: #112E3E;
$secondary-font-clr: #EDD154;

$black: black;
$white: white;

$primary-ff-regular: "Lato Regular", sans-serif;
$primary-ff-bold: "Lato Bold", sans-serif;
$primary-ff-light: "Lato Light", sans-serif;
$primary-ff-thin: "Lato Thin", sans-serif;