@use "../abstracts/variables" as variable;

@media screen and (max-width: 768px) {

    header {
        .container {
            nav {
                display: none;
            }
            .nav__burger {
                display: inline-block;
            }
        }
    }

    #realisation {
        .card-container {
            grid-template-columns: repeat(2,1fr);
        }
    }

    footer {
        .container {
            .footer-container {
                grid-template-columns: 1fr 1fr 1fr;
                .grid__col {
                    &:nth-child(-n + 2) {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #rendez-vous {
        .container {
            .card-container {
                grid-template-columns: 1fr;
                .card {
                    &:nth-child(3) {
                        grid-column: 1/2;
                    }
                }
            }
        }
    }

    #realisation {
        .container {
            .card-container {
                grid-template-columns: 1fr;
            }
        }
    }

    #contact {
        .container {
            .card-container {
                grid-template-columns: 1fr;
                .card {
                    &:nth-child(3) {
                        grid-column: 1/2;
                    }
                }
            }
        }
    }

    footer {
        .container {
            .footer-container {
                grid-template-columns: 1fr;
                .grid__col {
                    text-align: center;
                    &:nth-child(3){
                        align-items: center;

                        &::before {
                            border: none;
                        }
                    }
                }
            }
        }
    }  
}